@using _2k_Shared.Views
@model IEnumerable<SurveyViewModel>
@{
    ViewData["Title"] = "Survey Page";
}

<link href="~/css/feedback.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

<div class="feedbackpage">
    <h1 class="title">
        <p>Feedbacks <img class="logo" src="~/images/2k_.png" width="129" /></p>
    </h1>

    <div class="surveys">
        <table class="table table-striped">
            <thead>
                <tr><th>Survey Name</th><th></th></tr>
            </thead>
            <tbody>
                @foreach (var survey in Model)
                {
                    <tr>
                        <td>
                            <span>@survey.Name</span>
                        </td>
                        <td class="actioncol">
                            <a class="btn action-button btn-sm @survey.Disabled" href="@Url.Action("OpenEditSurvey", "Feedback", new { surveyId = survey.SurveyId, responseId = survey.ResponseId, token = ViewBag.Token })">
                                <span class="fa fa-edit"></span>
                            </a>
                            <a class="btn action-button btn-sm" href="@Url.Action("OpenSurvey", "Feedback", new { surveyId = survey.SurveyId, responseId = survey.ResponseId, token = ViewBag.Token })">
                                <span class="fa fa-eye"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>