@using _2k_Shared.Views
@using _2k_Survey.Helpers
@model SurveyViewModel

<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<img class="logo" src="~/images/2k_.png" width="129" />
<form id="surveyForm">
    @Html.GetSurvey(Model)
</form>

<script language="javascript" type="text/javascript">

    window.onload = function () {
        @if (Model.Disabled == "disabled")
        {
            <text>
            $("#surveyForm :input").attr("disabled", true);
            </text>

            @foreach (var item in Model.Answers)
            {
                <text>
                $("#@item").prop("checked", true);
                </text>
            }
        }
    }

    function SendFeedback()
    {
        var results = [];

        $("#surveyForm input[type=radio]:checked").each(function () {
            results.push(parseInt(this.id));
        });

        var data = {
            responseId: @Model.ResponseId,
            feedbackResult: results
        }

        $.ajax({
            type: "POST",
            url: "@(Url.Action("SendFeedback", "Feedback"))",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8"
        });
    }
</script>
